@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~sass-rem/rem";
@import "~jquery-nice-select/css/nice-select.css";
@import "mixins/utility";
@import "base/variables";
@import "base/fonts";
@import "base/reset";
@import "base/base";
@import "base/typography";
@import "components/buttons";
@import "components/modals";
@import "components/breadcrumbs";
@import "components/form";
@import "layout/header";
@import "layout/footer";

body {
    background: #2D2C37;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    max-width: 100vw;
    overflow-x: hidden;
}

.filters__open {
    display: none;
}

.login {
    max-width: 681px;
    padding-bottom: 40px;
    margin: 0 auto;
    text-align: center;
    padding-top: 108px;
    &__form {
        background: #FFFFFF;
        border-radius: 5px;
        padding: 61px 23px;
        margin-top: 72px;
        &-title {
            font-weight: 600;
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 34px;
        }
        &-group {
            margin-top: 35px;
            text-align: left;
            img {
                max-width: 300px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            &_submit {
                text-align: center;
            }
            &_captcha {
                margin-top: 31px;
            }
        }
        &-label {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 16px;
        }
        &-control {
            width: 100%;
            height: 60px;
            background: #EBEBEA;
            color: #202020af;
            &::placeholder {
                color: #202020af;
            }
            border-radius: 5px;
            font-weight: 500;
            border: none;
            padding-left: 20px;
        }
        &-select {
            width: 100%;
            height: 60px;
            float: none;
            background: #EBEBEA;
            border-radius: 5px;
            font-weight: 500;
            border: none;
            font-size: 16px;
            padding-left: 20px;
            line-height: 60px;
            color: #202020af;
            font-family: "Montserrat", sans-serif;
            .list {
                width: 100%;
            }
        }
        &-submit {
            background: #56AE83;
            border-radius: 5px;
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #fff;
            transition: .3s all;
            &:hover {
                background: #47916d;
            }
        }
        &-forget {
            display: inline-block;
            margin-top: 35px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #3BA0F8;
            text-decoration: underline;
        }
    }
}

.workers {
    padding: 24px;
    display: flex;
    &__content {
        width: calc(100% - 340px);
        margin-left: 19px;
    }
    &__nav {
        display: flex;
        justify-content: flex-end;
        margin-top: 6px;
        &-group {
            display: flex;
            background: #616169;
            border-radius: 5px;
        }
        &-radio {
            label {
                border-radius: 5px;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #202020;
                padding: 20px;
                cursor: pointer;
            }
            input {
                display: none;
                &:checked + label {
                    background: #3F91F7;
                    color: #fff;
                }
            }
        }
        &-new {
            justify-content: center;
            display: flex;
            align-items: center;
            padding: 0 34px;
            background: #56AE83;
            border-radius: 5px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            margin-left: 14px;
            color: #fff;
            transition: .3s all;
            &:hover {
                background: #47916d;
            }
        }
    }
    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 30px;
        color: #fff;
        margin-top: -51px;
    }
    &__row {
        display: flex;
        margin-top: 9px;
    }
}

.filters {
    width: 100%;
    max-width: 340px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 35px 23px;
    &__title {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #000000;
    }
    &__form {
        margin-top: 45px;
        &-el {
            margin-top: 34px;
        }
        &-label {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            margin-bottom: 15px;
        }
        &-control {
            background: #EBEBEA;
            border-radius: 2.83407px;
            border: none;
            padding-left: 20px;
            width: 294px;
            height: 59px;
        }
    }
}

.information {
    background: #FFFFFF;
    overflow: hidden;
    border-radius: 5px;
    padding: 22px;
    padding-bottom: 45px;
    min-width: 1px;
    &__wrapper {
        width: 100%;
        max-width: calc(100%);
        margin-left: 22px;
        overflow: auto;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: #202020;
    }
    &__controls {
        display: flex;
        &-search {
            position: relative;
        }
        &-icon {
            position: absolute;
            right: 17px;
            top: 50%;
            transform: translateY(-50%);
        }
        &-control {
            background: #F8F8F8;
            border-radius: 2.83407px;
            width: 319px;
            height: 59px;
            border: none;
            padding-left: 26px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            &::placeholder {
                color: #D9DADA;
            }
        }
        &-btn {
            margin-left: 12px;
            width: 67px;
            height: 59px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #3BA0F8;
            border-radius: 2.83407px;
            transition: .3s all;
            &:hover {
                background: #307fc5;
            }
        }
    }
    &__table {
        min-width: 100%;
        overflow: hidden;
        width: 1323px;
        &-wrapper {
            overflow: auto;
            width: 100%;
            max-height: 720px;
            margin-top: 24px;
        }
        tr {
            height: 89px;
            &:nth-child(1) {
                height: 59px;
                background: #EAEBEA;
                border-bottom: 3px solid #D8D8D8;
            }
            &:nth-child(2n + 1) {
                background: #F7F8F7;
            }
        }
        th {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #000;
            &:last-child {
                padding-right: 42px;
            }
        }
        td {
            font-size: 18px;
            min-width: 50px;
            line-height: 22px;
            a {
                text-decoration-line: underline;
                color: #3BA0F8;
            }
        }
        .time {
            margin-left: 12px;
        }
        .status {
            display: flex;
            width: 40px;
            height: 40px;
            &__image {
                width: 40px;
                display: flex;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
            }
            position: relative;
            &::after {
                width: 12px;
                height: 12px;
                display: block;
                content: '';
                background: #20C876;
                position: absolute; 
                bottom: 0;
                right: 0;
                border-radius: 50%;
            }
            img {
                width: 100%;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
            &_offline {
                &::after {
                    display: none;
                }
            }
        }
        &-checkbox {
            margin-left: 14px;
            margin-right: 14px;
            transform: translateY(3px);
            label {
                border: 2px solid #C4C4C4;
                border-radius: 5px;
                width: 22px;
                height: 22px;
                cursor: pointer;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    background: #C4C4C4;
                    left: 50%;
                    top: 50%;
                    opacity: 0;
                    transform: translateY(-50%) translateX(-50%);
                    transition: .3s all;
                }
            }
            input {
                display: none;
                &:checked {
                    & + label::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.sidebar {
    background: #434353;
    color: #fff;
    padding: 15px 19px;
    width: 100%;
    max-width: 319px;
    min-width: 319px;
    &__user {
        margin-top: 19px;
        border-radius: 5px;
        overflow: hidden;
        transition: .3s all;
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 19px 20px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            cursor: pointer;
            transition: .3s all;
            svg {
                transition: .3s all;
            }
        }
        &-name {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
        &-content {
            max-height: 0;
            overflow: hidden;
            transition: .3s all;
        }
        &-wrapper {
            padding: 12px 24px 22px 24px;
        }
        &-btn {
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            display: inline-block;
            margin-top: 30px;
            text-decoration-line: underline;
            color: #3BA0F8;
            transition: .3s all;
            &:hover {
                color: #5db1fa;
            }
        }
        &_open {
            background: #2D2C37;
            .sidebar__user-content {
                max-height: 1000px;
            }
            .sidebar__user-header {
                background: #22212A;
                svg {
                    transform: rotate(90deg);
                }
            }
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        margin-top: 16px;
        list-style: none;
        .sidebar__list-open svg {
            transition: .3s all;
        }
        &-item {
            margin-bottom: 14px;
            transition: .3s all;
            &_open {
                background: #2D2C37;
                border-radius: 5px;
                .sidebar__list-link {
                    background: #81808C;
                    border-radius: 5px 5px 0px 0px;
                }
                .sidebar__list-open svg {
                    transform: rotate(90deg);
                }
                .sidebar__drop {
                    max-height: 1000px;
                }
            }
        }
        &-link {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            border-radius: 5px;
            font-size: 18px;
            line-height: 22px;
            transition: .3s all;
            padding: 14px 20px 14px 11px;
            &:hover {
                background: #81808C;
                color: #fff;
            }
        }
        &-icon {
            margin-right: 18px;
        }
    }
    &__drop {
        max-height: 0;
        overflow: hidden;
        transition: .3s all;
        &-title {
            background: #EBCC50;
            height: 59px;
            display: flex;
            align-items: center;
            padding-left: 23px;
            font-weight: 600;
            font-size: 18px;
            color: #000000;
            line-height: 22px;
            &::before {
                content: '';
                width: 7px;
                height: 7px;
                background: #000000;
                border-radius: 50%;
                margin-right: 29px;
            }
        }
        &-list {
            margin: 0;
            padding: 0;
            padding-left: 26px;
            list-style: none;
        }
        &-item {
            padding-top: 18.5px;
            padding-bottom: 18.5px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            padding-left: 34px;
            border-left: 2px solid #666573;
        }
    }
}

.breadcrumbs {
    &__item {
        font-weight: 600;
        font-size: 18px;
        position: relative;
        line-height: 22px;
        color: #81808C;
        text-decoration: none;
        margin-right: 35px;
        transition: .3s all;
        &:last-child {
            margin-right: 0;
        }
        &::after {
            content: '/';
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #fff;
            position: absolute;
            right: -22px;
        }
        &:hover {
            text-decoration: underline;
            color: #81808C;
        }
        &_current {
            color: #fff;
            &:hover {
                color: #fff;
                text-decoration: none;
            }
            &::after {
                display: none;
            }
        }
    }
}























@import "responsive.scss";